@keyframes loading {

    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }

}


@keyframes float {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }

}


@keyframes glow {

    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }

}


.magic-symbol {
    animation: glow 3s infinite;
}


.scroll-indicator {
    animation: float 3s infinite;
}